.mealCardWrapper {
  background-color: #ed7d31;
  display: inline-flex;
  flex-direction: column;
  align-self: start;
  justify-content: center;
  width: 300px;
  padding: 20px;
  margin: auto;
  min-height: 450px;
  gap: 30px;
  margin-bottom: 30px;
}

.mealCardThumb {
  width: 300px;
  height: 300px;
}

.MealItemTitle {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
}
.MealItemArea {
  color: #fff;
}

.mealCardLikeContainer {
  height: inherit;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
