.menu-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  gap: 30px;
}

.menu-button {
  padding: 15px 25px;
  background-color: #ed7d31;
  color: #ffffff;
  font-size: 24px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 15px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .menu-grid {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    gap: 30px;
  }

  .menu-button {
    min-width: 50px;
    font-size: 18px;
  }
}
